<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <header>   <h1>Jokes for programmers </h1>
        <ul> 
            <a href="/"> <li>Home</li> </a> 
            <a href="favoriteJokes"> <li>Favorite jokes</li> </a> 
            <a href="/randomJoke"> <li> Random Joke</li> </a> 
        
        </ul>
    </header>

<main> <h1> You didnt select any jokes to add to your favorite list yet 🤷‍♂️ </h1></main>

</body>
</html>