<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>random joke</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
  <header>
    <h1>Randome joke of the day</h1>
    <ul> 
        <a href="/"> <li>Home</li> </a> 
        <a href="favoriteJokes"> <li>Favorite jokes</li> </a> 
        <a href="/randomJoke"> <li> Random Joke</li> </a> 
    
    </ul>
  </header>
 <main>
    <div class="main-container">
        <% data.forEach(val=>{ %>
        <div class="joke-container">
            <h3> <%= val.type%> </h3>
            <h4> <%= val.setup %> </h4>
            <h4> <%=val.punchline%> </h4>
          <a href="/randomJoke"><button> Another one</button></a>
        </div>
        <%  }); %>
    </div>

 </main>
<footer>

</footer>


</body>
</html>